<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
      <label for="username">Username:</label>
      <input type="text" formControlName="username" />
      <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
        username is required.
      </div>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" formControlName="password" />
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        password is required.
      </div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Submit</button>
    <button type="button" (click)="goToSignUp()">Sign up</button>
  </form>